<div class="main">
  <div class="article">
    <div class="picrure_title">
      <h1>ユーザー編集</h1>
    </div>
    <div class="picture_main_container">
      <%= render 'form', user: @user %>

      <%= link_to '詳細画面へ戻る', @user %>
      <br>
      <%= link_to 'ユーザー一覧へ', users_path %>
    </div>
  </div>
</div>
