<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>User image</th>
    </tr>
  </thead>

  <tbody>

   <% @users.each do |user| %>
    <tr>
        <td><%= link_to(user.name, user_path(user.id)) %></td>
          <% if user.user_image? %>
            <td><%= image_tag user.user_image.url %>
          <% else %>
            <td><%= image_tag "/user_images/default_user.jpg" %>
          <% end %>
    </tr>          
   <% end %>
  </tbody>
</table>