<div class="main">
  <div class="article">
    <div class="picrure_title">
      <h1>投稿一覧</h1>
    </div>
    <div class="picture_main_container">
      <table>
        <thead>
          <tr>
            <th>投稿者</th>
            <th>タイトル</th>
            <th>Image</th>
          </tr>
        </thead>

        <tbody>
          <% @pictures.each do |picture| %>
            <tr>
              <td><%= link_to(picture.user.name, user_path(picture.user.id)) %></td>
              <td><%= link_to(picture.title, picture_path(picture.id)) %></td>
              <td><%= image_tag picture.image, size: "75x50" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <br>
        <%= link_to '新規投稿', new_picture_path, class:"operation_button" %>
    </div>
  </div>
</div>
