<div class="main">
  <div class="article">
    <div class="picrure_title">
      <h1>新規投稿</h1>
    </div>
    <div class="picture_main_container">
        <%= render 'form', picture: @picture %>
        <%= link_to '戻る', pictures_path %>
    </div>
  </div>
</div>
