
.login_form_container {
  margin: auto;
  width: 350px;
  height: 350px;
  margin-bottom: 10px;
  color: #262626;
  background-color: #fff;
  border:1px solid #e6e6e6;
  border-radius: 1px;
  text-align: center;
  padding: 50px 40px ;
}

.login_form_title p{
  font-size: 40px;
}

.login_form_main_container {
  color: #262626;
  font-size: 14px;
  width:100%;
}

.to_session_container {
  margin: auto;
  width: 350px;
  height: 50px;
  background-color: #fff;
  border:1px solid #e6e6e6;
  border-radius: 1px;
  text-align: center;
  padding: 15px;
}
